@font-face {
  font-family: "Mont";
  src: url('Mont-ExtraLight.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: "Mont-Heavy";
  src: url('Mont-Heavy.otf') format('opentype');
  font-style: normal;
}
body {
  background-color: black;
}
body, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Mont-Heavy", sans-serif;
  font-weight: 900;
}
.aboutMe, body {
  color: #091473;
}
